@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
 
html { font-size: 13px; }
html, body, #root { height: 100%; }

body, span.MuiTypography-root, p.MuiTypography-root { font-size: 1.0rem !important; }
h1 { font-size: 2.5rem !important; margin: 0 0 5px !important; }
h2 { font-size: 2.1rem !important; margin: 0 0 5px !important; }
h3 { font-size: 1.8em !important; margin: 0 0 5px !important; }
h4 { font-size: 1.5rem !important; margin: 0 0 5px !important; }
h5 { font-size: 1.3rem !important; margin: 0 0 5px !important; }
.MuiCardContent-root p { margin: 0 0 15px !important; }

@media screen and (max-width: 900px) {
  h1 { font-size: 2rem !important; margin: 0 0 5px !important; }
  h2 { font-size: 1.8rem !important; margin: 0 0 5px !important; }
  h3 { font-size: 1.6em !important; margin: 0 0 5px !important; }
  h4 { font-size: 1.3rem !important; margin: 0 0 5px !important; }
  h5 { font-size: 1.1rem !important; margin: 0 0 5px !important; }
}

.flex { display: flex; flex-direction: column; }
.grid { display: grid; }
.flex-row { display: flex; flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex1 { flex: 1; }
.gap4 { gap: 4rem; }
.align-center { align-items: center !important; }
.align-end { align-items: end; }
.align-start { align-items: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.space-between { justify-content: space-between; }
.no-margin { margin: 0px !important; width: 100% !important; }
.relative { position: relative; }
.margin-10 { 
  margin: 0px 10px !important; width: calc(100% - 20px) !important;
  & > .MuiPaper-root { display: flex; }
}
.overflow { overflow: auto; }
.overflow-x-none { overflow-x: hidden; }
.no-overflow { overflow: hidden; .MuiCardContent-root { overflow: auto; } }

.width100 { width: 100%; }
.heigth100 { height: 100%; }

.text-primary { color: var(--mui-palette-primary-main) !important; }
.mode-dark .text-primary { color: var(--mui-palette-primary-dark) !important; }
.text-secondary { color: var(--mui-palette-secondary-main) !important; }
.mode-dark .text-secondary { color: var(--mui-palette-secondary-dark) !important; }

a.MuiTypography-root { font-size: 1rem; }
.main-container a:-webkit-any-link { color: var(--mui-palette-primary-main) !important; }
.mode-dark .main-container a:-webkit-any-link { color: var(--mui-palette-primary-main-dark) !important; }
#header, #footer, #fade-menu, #menu, .bento { a:-webkit-any-link { color: var(--mui-palette-secondary-main) !important; } }
.mode-dark { #header, #footer, #fade-menu, #menu, .bento { a:-webkit-any-link { color: var(--mui-palette-secondary-main-dark) !important; } } }
.mode-light { #header, #menu, .MuiTab-root, .search-bar { background-color: white; } }

.info { color: var(--mui-palette-info-main) !important; }
.mode-dark .info { color: var(--mui-palette-info-main-dark) !important; }
.success { color: var(--mui-palette-success-main) !important; }
.mode-dark .success { color: var(--mui-palette-success-main-dark) !important; }
.error { color: var(--mui-palette-error-main) !important; }
.mode-dark .error { color: var(--mui-palette-error-main-dark) !important; }

/*** ROOT ***/
:root {
    --mui-palette-primary-main: #9f9f9f8e;
    --mui-palette-secondary-main: #9f9f9f8e;
  }