  
#header a:-webkit-any-link { color: inherit !important; }
a.MuiTypography-root { font-size: 1rem; }

#header {
  gap: 2px;
  a { text-decoration: none; }
  .select-language {
    width: 45px !important; height: 28px !important; min-height: 28px !important;
    .MuiSelect-select { margin: 0; padding: 7px; }
  }
}
.footer-link { margin: 5px; }

.mui-fixed { padding-right: 0px !important; }

$maxWidth: 1000px;

/**** MAIN CONTENT ****/

.main-container {
  display: flex; align-items: flex-start; overflow: auto; width: 100% !important; height: 100% !important; flex: 1; position: relative; 
  .container { overflow: auto; width: 100%; padding: 5px; }
  .MuiCardHeader-title { font-size: 1.5rem !important; }
  #infinite-container { 
    flex: 1; 
    & > .max-width { align-items: normal; justify-content: flex-start; flex: 1; }
  }
  .max-width { max-width: $maxWidth; margin: 0 auto; width: 100%; margin-bottom: 5px; display: flex; flex-direction: column; }
  .max-width-800 { max-width: 800; }
  .MuiListItemText-root { align-items: flex-start; flex-direction: column; display: flex; p { margin: 0px !important; } }
  .MuiPaper-root { margin: 5px !important; padding: 10px !important;  width: calc(100% - 10px); }
  .card-tab {
    display: flex; flex-direction: column; padding: 0px !important;
    .MuiCardContent-root { padding: 0 !important; min-height: 54px; margin: 0 !important; }
  }
  .search-bar-card { padding: 0; .MuiCardContent-root { padding: 0 0.5rem !important; } }
  .search-bar { 
    margin: 10px 8px 0px !important; padding: 5px; border-radius: 5px; display: flex; flex-direction: row; gap: 4px;
    & > div { padding: 0px; margin: 0px; } 
    & > div:nth-child(1) { flex: 1; width: auto !important; }
    & > div:nth-child(2) { width: auto !important; & > div { height: 40px !important; } }
  }
  .MuiPaper-root > .MuiCardContent-root > .search-bar { margin: 0 !important; padding: 0px !important; }
}

.button-right { flex-direction: row; justify-content: flex-end; margin-bottom: 5px; }

.justify-center  {
  .MuiCardHeader-root .MuiTypography-root { justify-content: center; display: flex; }
}

@media screen and (max-width: 900px) {
  .main-container {
    .MuiPaper-root { margin: 5px !important; padding: 5px !important;  width: calc(100% - 10px) !important; }
    .modal > .MuiBox-root { width: 100% !important;  }
  }
}

.page-404 a:-webkit-any-link { color: inherit !important; }
#menu { a { font-size: 1.1rem; } .MuiButtonBase-root { padding: 8px 11px !important; &.selected { border-width: 0px; border-bottom-width: 2px; border-radius: 0px; } } }
#fade-menu { .Mui-selected { border-left: 2px solid rgba(234, 117, 0, 0.5) !important; } }

/**** MUI ****/

.MuiBackdrop-root:has(.MuiCircularProgress-root) { z-index: 3000000 !important; }
.MuiList-root { padding: 0px !important; }
.MuiDivider-root { margin: 10px 0px; list-style: none; }

.MuiCardContent-root { overflow: auto; padding: 5px !important; }
.MuiTab-root { min-width: 110px !important; padding: 0 10px !important; &.MuiButtonBase-root { align-items: baseline; max-width: max-content !important; } }
.MuiTabs-scroller, .MuiTabs-flexContainer { overflow: auto; }

.MuiChip-label { font-weight: bold; }
.MuiCardHeader-root {
  padding: 10px !important; padding-bottom: 0 !important; 
   .MuiCardHeader-content, .MuiTypography-root { overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2 !important; -webkit-box-orient: vertical; }
}
tspan { font-weight: bold; }

.MuiTabs-root { margin: 6px 8px -4px !important; }

.MuiListItemText-root, .MuiListItemText-secondary { 
  overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2 !important; -webkit-box-orient: vertical; 
  .MuiCardContent-root p { margin: 0 !important; } 
}

.MuiCardHeader-content > .MuiTypography-root .MuiSvgIcon-root:nth-child(1) { width: 25px; height: 25px; }
.MuiChip-root { margin: 0; }
.MuiPaper-root { .MuiCardContent-root { display: flex; flex-direction: column; } }
.search-bar-card { height: auto !important; }
div:not(.search-bar-card) > .MuiCardContent-root { flex: 1; }
.MuiButtonBase-root { margin: 0px !important; } 
.MuiListItemIcon-root { 
  margin-right: 10px; min-width: 0px !important; 
  .MuiButtonBase-root { margin: 0px !important; padding: 6px !important; } 
}
.MuiToolbar-root {  
  overflow: auto;  min-height: 48px !important; padding-left: 4px !important; padding-right: 4px !important;
  .MuiAvatar-root { width: 30px; height: 30px; }
}
.MuiAvatar-root { background-color: var(--mui-palette-secondary-main) !important; margin: 0px !important; margin-top: 0px !important; }
.mode-dark .MuiAvatar-root { background-color: var(--mui-palette-secondary-main-dark) !important; }

.MuiCardContent-root:last-child { padding-bottom: 5px !important; }
.MuiCardHeader-action { margin: 0 !important; padding: 0 !important; margin-top: 7px !important; display: flex !important; gap: 5px !important; }

.MuiListItem-root { min-height: 45px; max-height: 80px; }
.MuiListItem-root.selected-primary {  border-left: 3px solid var(--mui-palette-primary-main) !important; }
.mode-dark .MuiListItem-root.selected-primary {  border-left: 3px solid var(--mui-palette-primary-main-dark) !important; }
.MuiListItem-root.selected-secondary {  border-left: 3px solid var(--mui-palette-secondary-main) !important; }
.mode-dark .MuiListItem-root.selected-secondary {  border-left: 3px solid var(--mui-palette-secondary-main-dark) !important; }

.MuiDrawer-root { ul { padding: 0px !important; overflow-x: hidden; } }

@media (max-width: 600px) {
  .hidden-responsive { display: none !important; }
  .MuiToolbar-root { 
    padding: 0 !important;
    .back-button { width: 25px !important; svg { width: 15px; } }
    .MuiAvatar-root { width: 25px !important; height: 25px !important; }
    a { gap: 0.5rem !important; }
    img { width: 25px !important; height: 25px !important; }
    & > .MuiIconButton-root:last-child { display: none !important; }
  }
  #header {
    button { min-width: 30px !important; }
  }
  .MuiCardContent-root { padding: 5px !important; }
  .MuiCardHeader-root { padding: 5px !important; }
  .MuiListItemText-root span, .MuiListItemText-secondary { -webkit-line-clamp: 1 !important; }
  .news-list .MuiList-root { margin-left: 0 !important; }
}

/**** BUTTON ****/

.input-add { 
  gap: 5px; align-items: end; 
  button { min-width: 38px !important; min-height: 38px !important; } 
  .MuiFormControl-root { margin-top: 10px !important; }
  .MuiInputBase-root { padding: 8px 10px !important; }
  textarea { max-height: 150px !important; }
}
.back-button button { min-width: 30px; }
.refresh-button { min-width: 30px; padding: 4px 0px; margin: 0px !important; margin-left: 5px !important; }

/***** CONTAINER 50/50 with media screen ****/

.slit-container {
  display: flex; flex-direction: row; flex: 1; gap: 1rem; overflow: auto;
  & > div { display: flex; flex-direction: column; flex: 0.5; }
}
@media screen and (max-width: 700px) {
  .slit-container { flex-direction: column; }
}

/**** LISTE ***/

.custom-list { 
  .MuiListItem-root { padding-right: 5px !important; }
  .MuiListItemAvatar-root { min-width: 0px; margin: 0px 10px 0px 5px !important; .MuiButtonBase-root { margin: 0; } }
  .MuiListItemIcon-root { margin-right: 0px !important; }
 }

 @media screen and (max-width: 700px) {
  .custom-list { 
    .MuiListItemAvatar-root { .MuiAvatar-root { width: 30px; height: 30px; } }
    .MuiDivider-root { margin-left: 50px !important; }
  }
 }

/**** NEWS ***/
.news-list {
  .max-width { flex-wrap: wrap; justify-content: center; }
  .max-width, .search-bar { 
    display: flex; flex-direction: row; align-items: start; 
    & > div { width: calc(50% - 10px) }
  }
  .bento { 
    display: flex; flex-direction: column; gap: 10px; 
    a { font-size: 2rem !important; text-decoration: none; }
    & > div { width: calc(100% - 5px); flex: 1; }
  }
  .MuiCardContent-root { min-height: 135px; }
  .MuiList-root { 
    margin-left: 30px;
    .MuiListItemText-root { padding-left: 20px; }
  }
}  

.md-summary {
  ul { font-size: 1rem; padding: 0; margin-left: 30px; ul { margin-left: 20px; } }
  .MuiChip-root { margin: 5px; }
}

.mardown-with-summary {
  display: flex !important; flex-direction: row !important; align-items: flex-start !important;
  & > .MuiPaper-root:nth-child(1) { width: 69% !important; }
  & > .MuiPaper-root:nth-child(2) {  width: 20% !important; position: fixed !important; right: 10px !important; }
  .MuiPaper-root:nth-child(1) .MuiCardContent-root {
    .MuiTypography-h1 { padding: 20px 0px 10px; }
    .MuiTypography-h2 { padding: 20px 0px 10px; }
    .MuiTypography-h3 { padding: 10px 0px 10px; }
    ul {
      li { padding: 5px 0px; }
    }
    img { max-width: 100%; }
    p { text-align: justify; padding: 5px 0px; }
  }
}

#news-form > div { height: calc(100vh - 80px); overflow: auto !important; }

@media screen and (min-width: 1400px) {
  .mardown-with-summary {
    & > .MuiPaper-root:nth-child(1) { width: 80% !important; }
    & > .MuiPaper-root:nth-child(2) { width: 15% !important; right: 1% !important; }
  }
}

@media screen and (max-width: 900px) {
  .mardown-with-summary {
    flex-direction: row !important;
    .MuiPaper-root:nth-child(1) { width: 100% !important; }
    .MuiPaper-root:nth-child(2) { display: none !important; }
  }
  .news-list {
    .flex { flex-direction: column !important; }
    .bento { 
      flex-direction: column; gap: 5px; width: 100% !important; 
    }
  }
}

.news-tags { 
  display: flex; flex-direction: unset; flex-wrap: wrap; justify-content: center; margin: 20px 0px 0px; 
  .MuiChip-label { font-weight: bold; font-size: 0.9rem; }
}
.MuiBadge-root { min-height: 27px;}
.share-buttons { 
  display: flex; flex-direction: row; gap: 4px; align-items: center; justify-content: center; flex-wrap: wrap; margin: 20px 0px 0px; 
  button { width: 27px !important; height: 27px !important; } 
  svg { width: 27px !important; height: 27px !important; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }  
}

/**** copyright ****/

.copyright {
  .MuiCardContent-root { display: flex; flex-direction: row; gap: 1rem; }
  .MuiCardMedia-root { justify-content: center; display: flex; }
  h4 { margin: 20px 0px !important; }
  .flex > div { width: 100%; }
}

@media screen and (max-width: 700px) {
  .copyright {
    .MuiCardContent-root { flex-direction: column; }
    .MuiAvatar-root { width: 150px; height: 150px; }
  }
}

/**** MANY TOO MANY ****/

.m2m {
  flex-direction: column;
  & > div {
    display: flex; justify-content: space-between; flex-direction: row; align-items: baseline;
    & > div .MuiChip-root { margin: 5px; }
    & button { min-width: 25px !important;}
  }
}

/************** FORM ***********/
.MuiFormControl-root { margin: 16px 0px 0px 0px !important; }
.MuiInputLabel-root { line-height: 1.1em !important; top: -3px !important; }
.MuiOutlinedInput-root { min-height: 40px !important; }
.MuiSelect-select { display: flex !important; align-items: center !important; height: 19px !important; }
.MuiCardContent-root p { margin: 2px 5px !important; }
.MuiFormLabel-root { top: -2px !important; }
.MuiFormLabel-root.MuiInputLabel-shrink { top: 0px !important; }
input, .MuiSelect-select { padding: 5px 25px 5px 10px !important; }
textarea { max-height: 250px !important; overflow: auto !important; }

.form, .form-content {
  display: flex; flex-direction: row; gap: 10px; flex-wrap: wrap;
  & > div { width: 100%; }
  .width50 { width: calc(50% - 5px) !important; }
  .switch { 
    justify-content: end;
    & > div {
      display: flex; flex-direction: row !important; align-items: center !important; justify-content: space-between !important; 
      & > p { padding-left: 10px; flex: 1; }
      & > p, & > span { align-self: center !important; margin: 0 !important; } 
    }
  }
  .flex-row-responsive { align-items: flex-start !important; }
}

.custom-form {  flex-wrap: wrap; }

@media screen and (max-width: 800px) {
  .form-content, .custom-form { gap: 0px; .width50 { width: calc(100%) !important; } }
}

.markdown-form { 
  display: flex !important; flex-direction: row !important; overflow: auto !important; flex-wrap: nowrap !important;
  & > div { width: calc(50% - 20px) !important;} 
  & > .MuiPaper-root, & > div { overflow: auto !important; }
  .mardown-with-summary > .MuiPaper-root:nth-child(1) { width: 100% !important; }
  .mardown-with-summary > .MuiPaper-root:nth-child(2) { width: 15% !important; position: fixed !important; right: 20px !important; }
}

/**** MODALE *****/

.modal {
  .MuiPaper-root { flex: 1; }
  & > .MuiBox-root { 
    width: 45vw !important; min-height: 45vh !important; max-height: 95vh; display: flex; padding: 0px; background-color: unset !important; border: 0 !important;
    .MuiPaper-root:not(.MuiAlert-root) {
      display: flex; flex-direction: column; overflow: auto; width: 100% !important; min-height: 100% !important;
      .MuiCardContent-root { width: 100%; display: flex; flex-direction: column; overflow: auto; padding: 10px !important; gap: 5px; }
      #infinite-container { margin-top: 10px; }
    } 
  }
} 

.modal-small > .MuiBox-root {  min-height: 35vh !important; }

.modal-form { 
  .MuiPaper-root:not(.MuiAlert-root) { overflow: hidden; box-shadow: unset !important; display: flex; flex-direction: column; min-height: 100%; } 
  & > .MuiBox-root { 
    display: flex; flex-direction: column; min-height: 25% !important;
    .form-content { flex: 1; overflow: auto; justify-content: flex-start; display: flex; flex-direction: column; }
  }
}

.modal-infinite {
  .MuiBox-root { height: 70% !important; min-height: 480px !important;  }
  .MuiCardContent-root { overflow: hidden; }
  #infinite-container { overflow: auto; width: 100%; flex: 1; }
  .news-list .MuiList-root { margin-left: 0px !important; }
  ul { width: 100%; }
}

.modal-confirm {
  & > .MuiBox-root { width: 45% !important; max-width: 500px; min-height: 220px !important; }
} 

@media screen and (max-width: 1300px) {
  .modal > .MuiBox-root { width: 55vw !important; }
}

@media screen and (max-width: 1000px) {
  .modal > .MuiBox-root { width: 70vw !important; }
}

@media screen and (max-width: 700px) {
  .modal > .MuiBox-root {  width: 90vw !important; } 
  .modal {
    .MuiCardContent-root { padding: 10px !important; }
    .MuiCardHeader-root { padding: 10px !important; }
  }
  .modal-infinite > .MuiBox-root { width: 90vw !important;  } 
  .modal-confirm > .MuiCardContent-root { justify-content: center; margin-left: 13px; width: calc(100% - 15px) !important; }
}

@media (max-height: 500px) {
  .modal > .MuiBox-root {  min-height: 95vh !important; } 
  .modal-small > .MuiBox-root {  min-height: 70vh !important; } 
}

/***** TABLE ****/

.MuiTableCell-root { font-size: 1rem !important; }
table {
  thead { 
    th.MuiTableCell-root { 
      background-color: var(--mui-palette-primary-main) !important;  
      & > span, & > span > svg { color: #FFFFFF !important; }  
    }
  }
  th { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
}
.mode-dark thead th.MuiTableCell-root { background-color: var(--mui-palette-primary-main-dark) !important; }
.admin table { table-layout: fixed; min-width: 837px; }

.MuiTablePagination-toolbar { justify-content: center; & > div:nth-child(1) { flex: 0 !important; } }

/*************************************************** PROFILE *******************************************/

.profile-container {
  display: flex; flex-direction: column; gap: 1rem; background: #3b3e3f; border-radius: 1rem; border-radius: 5px; margin: 8px; padding: 8px;
  & > div:nth-child(1) { color: var(--mui-palette-secondary-main); font-weight: bold; }
  .mode-dark & > div:nth-child(1) { color: var(--mui-palette-secondary-main-dark); }
  & > div:nth-child(2) {
    display: flex; justify-content: space-between;
    & > div { 
      display: flex; flex-direction: column; 
      & > span:nth-child(1) { font-weight: bold; color: var(--mui-palette-info-main); }
      .mode-dark & > span:nth-child(1) { color: var(--mui-palette-info-main-dark); }
      & > span:nth-child(2) { color: var(--mui-palette-info-main); }
      .mode-dark & > span:nth-child(2) { color: var(--mui-palette-info-main-dark); }
    }
  }
}
.mode-light .profile-container { background: #e8e8e8; }

.profil-content { 
  flex: 1; 
  .MuiAvatar-root { margin: 10px !important; }
  &.MuiPaper-root { display: flex; } 
  .MuiCardContent-root { flex: 1; display: flex; flex-direction: row !important; gap: 4px; } 
  .subcription-card .MuiCardContent-root { flex-direction: column !important; padding-top: 5px !important; }
}

.profile-form {
  hr { margin: 10px }
  & > div { margin: 5px 10px; }
}

@media screen and (max-width: 700px) {
  .profil-content {
    .MuiCardHeader-content { justify-content: center; display: flex; }
    .MuiAvatar-root { width: 100px; height: 100px; font-size: 5rem; }
    .MuiCardContent-root { flex-direction: column !important; gap: 0rem !important;  }
  }
}

/*************************************************** CHATBOT *******************************************/

.chatbot-fab { position: fixed !important; bottom: 1px; right: 5px; }
.chatbot-modale {
  position: fixed; z-index: 5; width: 400px; height: 500px; bottom: 45px; right: 10px;
  iframe { border: 2px solid grey; box-shadow: 3px 0px 10px black; border-radius: 10px; }
}
@media (max-width: 600px) {
  .chatbot-fab { width: 35px !important; height: 35px !important; min-height: 35px !important; right: 7px; }
  .chatbot-modale { width: 98%; height: calc(100% - 90px); top: 55px; bottom: 35px; right: 5px; }
}