  
.fr-loader { 
  position: absolute; width: 100%; height: 250px; top: 10px; left: 45%; 
  div { width: 35px; height: 35px; border: 4px solid #FFF; border-radius: 50%; border-bottom-color: var(--mui-palette-primary-main); animation: rotation 1s linear infinite; }
}
.mode-dark .fr-loader div { border-bottom-color: var(--mui-palette-primary-main-dark); } 
@keyframes rotation { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } } 

.linear-progress {  z-index: 30000; display: block !important; position: absolute !important; width: 100%; height: 4px; top: 46px; }
.drawer-width { min-width: 240px !important; }
.drawer-height { height: 46px !important; }

#header {
  gap: 5px;
  .select-language {
    height: 28px !important; min-height: 28px !important;
    .MuiSelect-select { margin: 0; padding: 7px; color: white; }
    svg { color: white; }
  }
  fieldset { border-color: white !important; }
  & > .MuiBadge-root { padding: 4px; button { border-radius: 50%; }}
}
.select-language { &.MuiFormControl-root { margin: 0px !important; padding: 0px !important; } .MuiOutlinedInput-root { min-height: 28px !important; } }
.footer-link { margin: 5px; }
.notification-list .not-checked span { font-weight: bold; }

$maxWidth: 1000px;

/**** MAIN CONTENT ****/

.max-width { max-width: $maxWidth; margin: 0 auto; width: 100%; }
.app-bar { display: flex !important; flex-direction: row !important; }

.main-container {
  display: flex; align-items: flex-start; overflow: auto; width: 100% !important; height: 100% !important; flex: 1; position: relative; 
  .container { overflow: auto; width: 100%; padding: 5px; }
  .MuiCardHeader-title { font-size: 1.5rem !important; }
  #infinite-container { 
    flex: 1; 
    & > .max-width { align-items: normal; justify-content: flex-start; flex: 1; }
  }
  .max-width { max-width: $maxWidth; margin: 0 auto; width: 100%; margin-bottom: 5px; display: flex; flex-direction: column; }
  .max-width-800 { max-width: 800; }
  .MuiListItemText-root { align-items: flex-start; flex-direction: column; display: flex; p { margin: 0px !important; } }
  .MuiPaper-root { margin: 5px !important; padding: 10px !important;  width: calc(100% - 10px); }
  .card-tab {
    display: flex; flex-direction: column; padding: 0px !important;
    .MuiCardContent-root { padding: 0 !important; min-height: 54px; margin: 0 !important; }
  }
  .search-bar-card { padding: 0; .MuiCardContent-root { padding: 0 0.5rem !important; } }
  .search-bar { 
    margin: 0px !important; padding: 5px; border-radius: 5px; display: flex; flex-direction: row; gap: 4px;
    & > div { padding: 0px; margin: 0px; } 
    & > div:nth-child(1) { flex: 1; width: auto !important; }
    & > div:nth-child(2) { width: auto !important; & > div { height: 40px !important; } }
  }
  .MuiPaper-root > .MuiCardContent-root > .search-bar { margin: 0 !important; padding: 0px !important; }
}

.button-right { flex-direction: row; justify-content: flex-end; margin-bottom: 5px; }
.button-fab { position: absolute; bottom: 1px; right: 1px; background: white; border-radius: 25px; }

.justify-center  {
  .MuiCardHeader-root .MuiTypography-root { justify-content: center; display: flex; }
}

@media screen and (max-width: 900px) {
  .main-container {
    .MuiPaper-root { margin: 5px !important; padding: 5px !important;  width: calc(100% - 10px) !important; }
    .modal > .MuiBox-root { width: 100% !important;  }
  }
}

#footer a { margin: 0px 5px; color: var(--mui-palette-secondary-main) !important; font-weight: normal !important; }
.mode-dark #footer a { color: var(--mui-palette-secondary-main-dark) !important; }

@media screen and (max-width: 400px) {
  #footer span.copyright { display: none; }
}

#menu { a { font-size: 1.1rem; } .MuiButtonBase-root { padding: 8px 11px !important; &.selected { border-width: 0px; border-bottom-width: 2px; border-radius: 0px; } } }
#fade-menu { .Mui-selected { border-left: 2px solid rgba(234, 117, 0, 0.5) !important; } }

/********************************************** MUI *************************************/
.mardown-with-summary a { color: var(--mui-palette-primary-main); }
.mode-dark .mardown-with-summary a { color: var(--mui-palette-primary-main-dark); }

.MuiPaper-root > .MuiCardMedia-root { margin: -10px; margin-bottom: 5px; }
.MuiAccordionSummary-content { font-weight: bold; }

.MuiBackdrop-root:has(.MuiCircularProgress-root) { z-index: 3000000 !important; }
.MuiList-root { 
  padding: 0px !important; 
  .MuiListItem-root:not(.no-animate) {transition: all .1s ease-in-out; }
  .MuiListItem-root:not(.no-animate):hover { transform: scale(1.01); }
}
.MuiDivider-root { margin: 10px 0px; list-style: none; }

.MuiCardContent-root { overflow: auto; padding: 5px !important; }
.MuiCardContent-root p { margin: 0 0 15px !important; }
.MuiTab-root { min-width: 110px !important; padding: 0 10px !important; &.MuiButtonBase-root { align-items: baseline; max-width: max-content !important; } }
.MuiTabs-scroller { overflow: auto !important; }
.MuiTabs-flexContainer { 
  overflow: visible !important; 
  .MuiButtonBase-root  { font-weight: bold; }
}

.MuiChip-label { font-weight: bold; font-size: 1rem !important; }
.MuiCardHeader-root {
  padding: 10px !important; 
   .MuiCardHeader-content, .MuiTypography-root { overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2 !important; -webkit-box-orient: vertical; }
}
tspan { font-weight: bold; }

.MuiTabs-root { margin: 6px 8px -4px !important; }

.MuiListItemText-root, .MuiListItemText-secondary { 
  overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2 !important; -webkit-box-orient: vertical; 
  .MuiCardContent-root p { margin: 0 !important; } 
}

.MuiCardHeader-content > .MuiTypography-root .MuiSvgIcon-root:nth-child(1) { width: 25px; height: 25px; }
.MuiChip-root { 
  margin: 0; 
  &.reverse {
    display: flex; flex-direction: row-reverse;
    svg { margin-left: -10px !important; margin-right: 10px !important; }
  }
}

.MuiPaper-root { .MuiCardContent-root { display: flex; flex-direction: column; } }
.search-bar-card { height: auto !important; }
div:not(.search-bar-card) > .MuiCardContent-root { flex: 1; }
.MuiButtonBase-root { margin: 0px !important; } 
.MuiListItemIcon-root { 
  margin-right: 10px; min-width: 0px !important; 
  .MuiButtonBase-root { margin: 0px !important; padding: 6px !important; } 
}
.MuiToolbar-root {  
  overflow: auto;  min-height: 46px !important; padding-left: 10px !important; padding-right: 10px !important;
  img, .MuiAvatar-root { width: 30px; height: 30px; }
}
.MuiAvatar-root { background-color: var(--mui-palette-secondary-main) !important; margin: 0px !important; margin-top: 0px !important; }
.mode-dark .MuiAvatar-root { background-color: var(--mui-palette-secondary-main-dark) !important; }

.MuiCardContent-root:last-child { padding-bottom: 5px !important; }
.MuiCardHeader-action { margin: 0 !important; padding: 0 !important; margin-top: 7px !important; display: flex !important; gap: 5px !important; }

.MuiListItem-root { min-height: 40px; max-height: 80px; }
.MuiListItem-root.selected-primary {  border-left: 3px solid var(--mui-palette-primary-main) !important; }
.mode-dark .MuiListItem-root.selected-primary {  border-left: 3px solid var(--mui-palette-primary-main-dark) !important; }
.MuiListItem-root.selected-secondary {  border-left: 3px solid var(--mui-palette-secondary-main) !important; }
.mode-dark .MuiListItem-root.selected-secondary {  border-left: 3px solid var(--mui-palette-secondary-main-dark) !important; }

.MuiDrawer-root { 
  ul { padding: 0px !important; overflow: hidden; }
}

@media (max-width: 600px) {
  .hidden-responsive { display: none !important; }
  .MuiToolbar-root { 
    padding: 0 !important;
    .back-button { width: 25px !important; svg { width: 15px; } }
    .MuiAvatar-root { width: 25px !important; height: 25px !important; }
    a { gap: 0.5rem !important; }
    img { width: 30px !important; height: 30px !important; }
    & > .MuiIconButton-root:last-child { display: none !important; }
  }
  #header {
    button { min-width: 30px !important; }
  }
  .MuiCardContent-root { padding: 5px !important; }
  .MuiCardHeader-root { padding: 5px !important; padding-bottom: 0px !important; }
  .MuiListItemText-root span, .MuiListItemText-secondary { -webkit-line-clamp: 1 !important; }
  .news-list .MuiList-root { margin-left: 0 !important; }
}

/**** CARD ****/

.card-subactions { 
  & > div { padding: 0px 10px; } 
  & > div:nth-child(1) > .div:nth-child(2) { align-items: end !important;}
  .MuiIconButton-root:has(.MuiAvatar-root) { margin: 0 !important; padding: 0 !important; }
}

@media (max-width: 600px) {
  .card-subactions { 
    margin: 0px;
  }
  .MuiCardHeader-action { margin-top: 1px !important; }
}

/**** BUTTON ****/

.input-add { 
  gap: 5px; align-items: center; 
  button { min-width: 38px !important; min-height: 38px !important; } 
  .MuiFormControl-root { margin-top: 10px !important; }
  .MuiInputBase-root { padding: 8px 10px !important; }
  textarea { max-height: 150px !important; }
}
.back-button button { min-width: 30px; }
.refresh-button { min-width: 30px; padding: 4px 0px; margin: 0px !important; margin-left: 5px !important; }

/***** CONTAINER 50/50 with media screen ****/

.slit-container {
  display: flex; flex-direction: row; flex: 1; gap: 1rem; overflow: auto;
  & > div { display: flex; flex-direction: column; flex: 0.5; }
}
@media screen and (max-width: 700px) {
  .slit-container { flex-direction: column; }
}

/**** LISTE ***/

.custom-list { 
  .MuiListItem-root { padding-right: 5px !important; }
  .MuiListItemAvatar-root { min-width: 0px; margin: 0px 10px 0px 5px !important; .MuiButtonBase-root { margin: 0; } }
  .MuiListItemIcon-root { margin-right: 0px !important; }
 }

 @media screen and (max-width: 700px) {
  .custom-list { 
    .MuiListItemAvatar-root { .MuiAvatar-root { width: 30px; height: 30px; } }
    .MuiDivider-root { margin-left: 50px !important; }
  }
 }

/**** NEWS ***/
.news-list {
  .max-width { flex-wrap: wrap; justify-content: center; }
  .max-width, .search-bar { 
    display: flex; flex-direction: row; align-items: start; 
    & > div { width: calc(50% - 10px) }
  }
  .bento { 
    display: flex; flex-direction: column; gap: 10px; 
    a { font-size: 1.4rem !important; }
    & > div { width: calc(100% - 5px); flex: 1; }
   .MuiCardContent-root { justify-content: flex-start; }
  }
  .MuiPaper-root { display: flex; flex-direction: column; }
  .MuiCardContent-root { justify-content: space-between; }
  .MuiList-root {  margin-left: 10px; }
}  

.md-summary {
  ul { font-size: 1rem; padding: 0; margin-left: 30px; ul { margin-left: 20px; } }
  .MuiChip-root { margin: 5px; }
}

.mardown-with-summary {
  display: flex !important; flex-direction: row !important; align-items: flex-start !important;
  & > .MuiPaper-root:nth-child(1) { width: 69% !important; }
  & > .MuiPaper-root:nth-child(2) {  width: 20% !important; position: fixed !important; right: 10px !important; }
  .MuiPaper-root:nth-child(1) .MuiCardContent-root {
    .MuiTypography-h1 { padding: 20px 0px 10px; }
    .MuiTypography-h2 { padding: 20px 0px 10px; }
    .MuiTypography-h3 { padding: 10px 0px 10px; }
    ul {
      li { padding: 5px 0px; }
    }
    img { max-width: 100%; }
    p { text-align: justify; padding: 5px 0px; }
  }
}

#news-form > div { height: calc(100vh - 80px); overflow: auto !important; }

@media screen and (min-width: 1400px) {
  .mardown-with-summary {
    & > .MuiPaper-root:nth-child(1) { width: 80% !important; }
    & > .MuiPaper-root:nth-child(2) { width: 15% !important; right: 1% !important; }
  }
}

@media screen and (max-width: 900px) {
  .mardown-with-summary {
    flex-direction: row !important;
    .MuiPaper-root:nth-child(1) { width: 100% !important; }
    .MuiPaper-root:nth-child(2) { display: none !important; }
  }
  .news-list {
    /**.flex { flex-direction: column !important; }**/
    .bento { 
      flex-direction: column; gap: 5px; width: 100% !important; 
    }
  }
}

.news-tags { 
  display: flex; flex-direction: unset; flex-wrap: wrap; justify-content: center; margin: 20px 0px 0px; 
  .MuiChip-label { font-weight: bold; font-size: 0.9rem; }
}
.share-buttons { 
  display: flex; flex-direction: row; gap: 4px; align-items: center; justify-content: center; flex-wrap: wrap; margin: 0 !important; 
  button { width: 27px !important; height: 27px !important; } 
  svg { width: 27px !important; height: 27px !important; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }  
}

/**** copyright ****/
.copyright {
  .MuiCardContent-root { display: flex; flex-direction: row; gap: 1rem; }
  .MuiCardMedia-root { justify-content: center; display: flex; }
  h4 { margin: 20px 0px !important; }
  .flex > div { width: 100%; }
  .MuiCardContent-root .flex { margin: 20px 50px; line-height: 2rem; text-align: justify; }
}

@media screen and (max-width: 700px) {
  .copyright {
    .MuiCardContent-root { flex-direction: column; }
    .MuiAvatar-root { width: 150px; height: 150px; }
    .MuiCardContent-root .flex { margin: 20px 5px; }
  }
}

/**** MANY TOO MANY ****/

.m2m {
  flex-direction: column; margin: 10px 1px 0px;
  & > div {
    display: flex; justify-content: space-between; flex-direction: row; align-items: baseline;
    & > div:nth-child(2) { gap: 10px; display: flex; }
    & > div {
      .MuiChip-root { margin: 5px; }
    } 
    & button { min-width: 25px !important;}
  }
}

/************** FORM ***********/
.MuiFormControl-root { margin: 16px 0px 0px 0px !important; }
.MuiInputLabel-root { line-height: 1.1em !important; top: -3px !important; }
.MuiOutlinedInput-root { min-height: 40px !important; }
.MuiSelect-select { display: flex !important; align-items: center !important; height: 19px !important; }
//.MuiCardContent-root p { margin: 2px 5px !important; }
.MuiFormLabel-root { top: -2px !important; }
.MuiFormLabel-root.MuiInputLabel-shrink { top: 0px !important; }
input, .MuiSelect-select { padding: 5px 25px 5px 10px !important; }
textarea { max-height: 250px !important; overflow: auto !important; }

.form, .form-content {
  display: flex; flex-direction: row; gap: 4px; flex-wrap: wrap;
  & > div { width: 100%; }
  .width50 { width: calc(50% - 5px) !important; }
  .switch { 
    justify-content: center; min-height: 55px;
    & > div {
      display: flex; flex-direction: row !important; align-items: center !important; justify-content: space-between !important; 
      & > p { padding-left: 10px; flex: 1; }
      & > p, & > span { align-self: center !important; margin: 0 !important; } 
    }
  }
  .flex-row-responsive { align-items: flex-start !important; }
}
.form-file {
  width: 100%; margin: 5px 0; display: flex; align-items: center; justify-content: space-between;
  .label { max-width: 18%; margin: 0px 5px; }
}

.custom-form {  flex-wrap: wrap; }

@media screen and (max-width: 800px) {
  .form-content, .custom-form { gap: 0px; .width50 { width: calc(100%) !important; } }
}

.markdown-form { 
  display: flex !important; flex-direction: row !important; overflow: auto !important; flex-wrap: nowrap !important;
  & > div { width: calc(50% - 20px) !important;} 
  & > .MuiPaper-root, & > div { overflow: auto !important; }
  .mardown-with-summary > .MuiPaper-root:nth-child(1) { width: 100% !important; }
  .mardown-with-summary > .MuiPaper-root:nth-child(2) { width: 15% !important; position: fixed !important; right: 20px !important; }
}

.input-copy-button { position: absolute !important; right: -1px; padding: 0 !important; margin: 0 !important; top: 17px; z-index: 3; }

/**** MODALE *****/

.modal {
  .icon-close { position: absolute; top: 11px; right: 11px; z-index: 3000 }
  .MuiPaper-root { flex: 1; overflow: hidden; }
  & > .MuiBox-root {  min-height: min-content;
    width: 45vw !important; min-height: 45vh !important; max-height: 95vh; display: flex; padding: 0px; background-color: unset !important; border: 0 !important;
    .MuiPaper-root:not(.MuiAlert-root) {
      display: flex; flex-direction: column; width: 100% !important; min-height: 100% !important;
      .MuiCardContent-root { width: 100%; display: flex; flex-direction: column; padding: 10px !important; gap: 5px; }
      #infinite-container { margin-top: 10px; }
    } 
  }
  .MuiCardHeader-root .MuiCardHeader-content, .MuiCardHeader-root .MuiTypography-root { padding-right: 35px; }
} 

.modal-small > .MuiBox-root {  min-height: 35vh !important; }

.modal-form { 
  .MuiPaper-root:not(.MuiAlert-root) { overflow: hidden; box-shadow: unset !important; display: flex; flex-direction: column; min-height: 100%; } 
  & > .MuiBox-root { 
    display: flex; flex-direction: column; min-height: 25% !important;
    .form-content { flex: 1; overflow: auto; justify-content: flex-start; display: flex; flex-direction: column; }
  }
}

.modal-infinite {
  .MuiBox-root { height: 70% !important; min-height: 480px !important;  }
  .MuiCardContent-root { overflow: hidden; }
  #infinite-container { overflow: auto; width: 100%; flex: 1; }
  .news-list .MuiList-root { margin-left: 0px !important; }
  ul { width: 100%; }
}

.modal-confirm {
  & > .MuiBox-root { width: 45% !important; max-width: 500px; min-height: 220px !important; }
} 

@media screen and (max-width: 1300px) {
  .modal > .MuiBox-root { width: 55vw !important; }
}

@media screen and (max-width: 1000px) {
  .modal > .MuiBox-root { width: 70vw !important; }
}

@media screen and (max-width: 700px) {
  .modal > .MuiBox-root {  width: 90vw !important; } 
  .modal {
    .MuiCardContent-root { padding: 10px !important; }
    .MuiCardHeader-root { padding: 10px !important; }
  }
  .modal-infinite > .MuiBox-root { width: 90vw !important;  } 
  .modal-confirm > .MuiCardContent-root { justify-content: center; margin-left: 13px; width: calc(100% - 15px) !important; }
}

@media (max-height: 500px) {
  .modal > .MuiBox-root {  min-height: 95vh !important; } 
  .modal-small > .MuiBox-root {  min-height: 70vh !important; } 
  .modal-very-small > .MuiBox-root {  min-height: 35vh !important; } 
}

/**************************************************** CONTACT **********************************************/

.contact-page { 
  width: 100%; padding: 0px !important;
  display: flex; flex-direction: column; align-items: center;
  .MuiCardContent-root { flex-direction: column !important; margin-bottom: 20px !important; }
  h3 { font-weight: bold !important; margin: 5px 0px !important; }
  p { margin: 20px 5px 20px; text-align: center; }
  img.vagabond { width: 200px; border-radius: 50%; border: 3px solid; padding: 5px;}

  .flex-row-responsive {
    & > div:nth-child(1) {
      width: 50%;
    }
    & > div:nth-child(2) {
      width: 50%; text-align: center;
      & > div { margin: 0px; margin-bottom: 10px; }
      h3 { text-align: left; margin-bottom: 20px !important; }
      p { text-align: left; margin: 5px 0 !important; }
    }
  }
}

.profil-content .contact-projects {
  display: flex; flex-direction: row;
  h3 { font-size: 1.5rem !important; font-weight: bold; }
  .MuiPaper-root {
    display: flex; flex-direction: column;
    .MuiCardContent-root { 
      flex-direction: column !important; 
      .flex-row { margin: 0px 0px 5px; }
      p { text-align: justify; }
    }
  }
}

@media screen and (max-width: 800px) {
  .contact-page { 
    img.vagabond { width: 150px; }
    .flex-row-responsive {
      & > div:nth-child(2) {
        width: 50%; margin-top: 20px; align-items: center; text-align: center;
        & > div { margin-bottom: 10px; width: 100%; }
        h3 { text-align: center !important; margin-bottom: 20px !important; }
        p { text-align: center !important; }
      }
    }
  }
  .contact-projects {
    flex-direction: column !important;
  }
}

/*************************************************** PROFILE ***********************************************/

.profile-container {
  margin: 10px 0px 10px !important; display: flex; flex-direction: column; gap: 1rem; background: #3b3e3f; border-radius: 1rem; border-radius: 5px; margin: 8px; padding: 8px;
  & > div:nth-child(1) { color: var(--mui-palette-secondary-main); font-weight: bold; }
  .mode-dark & > div:nth-child(1) { color: var(--mui-palette-secondary-main-dark); }
  & > div:nth-child(2) {
    display: flex; justify-content: space-between; flex-wrap: wrap; gap: 10px;
    & > div {
      display: flex; flex-direction: row; align-items: center; gap: 10px; width: calc(50% - 10px); justify-content: space-between;
      & > span:nth-child(1) { font-weight: bold; color: var(--mui-palette-secondary-main); }
      .mode-dark & > span:nth-child(1) { color: var(--mui-palette-secondary-main-dark); }
      .MuiButtonBase-root span { font-size: 1.1rem; }
    }
  }
}
.mode-light .profile-container { background: #e8e8e8; }

.profil-content { 
  flex: 1; 
  .MuiAvatar-root { margin: 10px !important; }
  &.MuiPaper-root { display: flex; } 
  .MuiCardContent-root { flex: 1; display: flex; flex-direction: row !important; gap: 4px; } 
  .subcription-card .MuiCardContent-root { flex-direction: column !important; padding-top: 5px !important; }
}

.profile-form {
  hr { margin: 10px }
  & > div { margin: 5px 10px; }
}

@media screen and (max-width: 700px) {
  .profil-content {
    .MuiCardHeader-content { justify-content: center; display: flex; }
    .MuiButtonBase-root:has(.MuiAvatar-root) { padding: 0px !important; }
    .MuiAvatar-root { width: 65px; height: 65px; font-size: 3rem; }
    .align-center:has(.subscription-container) {  flex-direction: row !important; }
    .MuiCardContent-root { flex-direction: column !important; gap: 0rem !important;  }
  }
}


/*************************************************** DASHBOARD *******************************************/

.dashboard-row, .dahsboard-row-pie {
  display: flex; flex-direction: row;
  & .MuiCardContent-root:nth-child(1) > .MuiTypography-root:nth-child(1) { height: 45px; font-size: 1.1rem !important; padding: 10px; }
  & > div:nth-child(1) { width: 40%; height: 340px; display: flex; }
  & > div:nth-child(2) { width: 60%; height: 340px; }
}

.dashboard-row {
  ul {
    margin-top: 10px !important;
    .MuiListItemText-root .MuiTypography-root { -webkit-line-clamp: 1 !important; }
  }
  .MuiCardContent-root { height: 100% !important; padding: 5px !important; }
}

@media screen and (max-width: 800px) {
  .dashboard-row, .dahsboard-row-pie {
    flex-direction: column;
    & > div { width: 100%; }
    & > div:nth-child(1) { width: 60%; min-height: 130px !important; height: auto !important; max-height: 320px !important; }
  }
}

.subscription-items { align-items: stretch; }

.subscription-container {
  width: 350px; max-width: 350px; display: flex; flex-direction: column; align-items: center; flex: 1;
  &.free, &.premium {  
    .title {
      background: #036288DC !important; color: #FFF; border-color: var(--mui-palette-secondary-main) !important;
      border: 3px solid ; font-weight: bold; display: flex; align-items: center; max-width: 150px; padding: 5px;
    }
    .MuiPaper-root { border: 3px solid; margin-top: -3px !important; background: #f7ff053a; border-color: var(--mui-palette-secondary-main); display: flex; flex: 1; align-items: baseline;}
  }
  .MuiCardContent-root { 
    font-size: 1.2rem; display: flex; align-items: center; height: 100%; justify-content: space-between;
    & > div { margin: 5px 0; display: flex; align-items: center; text-align: center; }
  }
  &.free {   
    .title {
      background: #3D3D3DDC !important; border-color: #555555DC !important;
    }
    .MuiPaper-root { border: 3px solid; margin-top: -3px !important; background: #6566473A; border-color: #555555DC; }
    .MuiCardContent-root { padding-top: 95px; }
  }
  .price-container {
    display: flex; flex-direction: row; justify-content: space-between; width: 91%; margin-bottom: 17px;
    .price { font-size: 1.5rem; font-weight: bold; align-self: center; }
    .price-old { font-size: 1.7rem; text-decoration: line-through; align-self: center; }
  }
  .MuiSvgIcon-root { height: 25px; width: 25px; }
  .bonus { font-weight: bold; margin: 10px 0 !important; width: 100%;  & > div:nth-child(2) { width: 80%; } }
  .button-sub { margin-top: 30px !important; font-size: 1.8rem; padding: 2px 27px; }
}
.mode-dark .subscription-container .MuiPaper-root { 
  background: rgba(204, 190, 121, 0.233); 
}
.subscription-container-title {
  width: 170px !important; max-height: 34px !important; margin-top: 7px !important;
  .title { width: 100%; justify-content: center; }
}

@media screen and (max-width: 800px) {
  .subscription {
    .flex-row-responsive {
      img { width: 100%; height: 100%; max-height: 300px !important; }
      ul { padding-left: 15px; }
      .alert { width: 100% !important; margin-top: 0px !important; }
      .subscription-container { margin-top: 10px; }
    }
  }
  .subscription-form {
    flex-direction: column-reverse !important;
    & > div { margin-right: 0 !important; width: 100%; }
  }
}

/*************************************************** SUBSCRIPTION *******************************************/

.subscription .MuiDivider-root, .divider .MuiDivider-root { margin: 15px 0px; }

.main-container .MuiAlert-root { padding: 0px 5px !important; margin: 5px 0px !important; width: 100% !important; }
.main-container .MuiAlert-message { font-size: 1rem !important; }

.main-container .alert {
  .MuiAlertTitle-root { font-size: 1.2rem !important; }
  .MuiAlert-message { font-size: 1.1rem; }
}

.main-container .alert-small {
  .MuiAlert-message { display: flex; align-items: center; padding: 0 !important; }
}

.MuiAlert-action { margin-right: 0 !important; }

.subscription-container {
  width: 350px; max-width: 350px; display: flex; flex-direction: column; align-items: center; flex: 1;
  &.free, &.premium {  
    .title {
      background: #036288DC !important; color: #FFF; border-color: var(--mui-palette-secondary-main) !important;
      border: 3px solid ; font-weight: bold; display: flex; align-items: center; max-width: 150px; padding: 5px;
    }
    .MuiPaper-root { border: 3px solid; margin-top: -3px !important; background: #f7ff053a; border-color: var(--mui-palette-secondary-main); display: flex; flex: 1; align-items: baseline;}
  }
  .MuiCardContent-root { 
    font-size: 1.2rem; display: flex; align-items: center; height: 100%; justify-content: space-between;
    & > div { margin: 5px 0; display: flex; align-items: center; text-align: center; }
  }
  &.free {   
    .title {
      background: #3D3D3DDC !important; border-color: #555555DC !important;
    }
    .MuiPaper-root { border: 3px solid; margin-top: -3px !important; background: #6566473A; border-color: #555555DC; }
    .MuiCardContent-root { padding-top: 95px; }
  }
  .price-container {
    display: flex; flex-direction: row; justify-content: space-between; width: 91%; margin-bottom: 17px;
    .price { font-size: 1.5rem; font-weight: bold; align-self: center; }
    .price-old { font-size: 1.7rem; text-decoration: line-through; align-self: center; }
  }
  .MuiSvgIcon-root { height: 25px; width: 25px; }
  .bonus { font-weight: bold; margin: 10px 0 !important; width: 100%;  & > div:nth-child(2) { width: 80%; } }
  .button-sub { margin-top: 30px !important; font-size: 1.8rem; padding: 2px 27px; }
}
.mode-dark .subscription-container .MuiPaper-root { 
  background: rgba(204, 190, 121, 0.233); 
}

@media screen and (max-width: 800px) {
  .subscription {
    .flex-row-responsive {
      img { width: 100%; height: 100%; max-height: 300px !important; }
      ul { padding-left: 15px; }
      .alert { width: 100% !important; margin-top: 0px !important; }
      .subscription-container { margin-top: 10px; }
    }
  }
  .subscription-form {
    flex-direction: column-reverse !important;
    & > div { margin-right: 0 !important; width: 100%; }
  }
}

/*************************************************** CHATBOT *******************************************/

.chatbot-fab { position: fixed !important; bottom: 1px; right: 5px; }
.chatbot-modale {
  position: fixed; z-index: 500000; width: 400px; height: 500px; bottom: 45px; right: 10px; background: #e0e0e0;
  iframe { border: 2px solid grey; box-shadow: 3px 0px 10px black; border-radius: 10px; }
}
.chatbot-modale-big { width: calc(100% - 50px); height: calc(100% - 50px);  }
.chatbot-frame-close { position: absolute !important; z-index: 300; top: 9px; right: 5px; }
.mode-dark .chatbot-frame-close { color: white !important; }

.button-icon { padding: 8px; min-width: 10px !important; }

@media (max-width: 600px) {
  .chatbot-fab { width: 35px !important; height: 35px !important; min-height: 35px !important; right: 7px; }
  .chatbot-modale { width: 98%; height: calc(100% - 90px); top: 55px; bottom: 35px; right: 5px; }
}

.page-404 .contact { margin: 5px 0px 60px; }